.boxer {
    display: table;
    border-collapse: collapse;
}

.boxer .box-row {
    display: table-row;
}

.boxer .box {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
}

p.bold {
    font-weight:bold;
}

.title {
    font-size:28px;
}


.small {
    font-size:12px;
    font-style: italic;
}


.zapusk {
    color: #1c7430;
    font-weight: 800;
}



.pagination li {
    list-style-type: none;
    float: left;
    margin-right: 3px;
    padding: 0px 3px;
}

.pagination li.active {
    font-size: 16px;
    font-weight: bold;
}

.green {
    color: #1c7430;
    font-weight: bold;
}

.message {
    color: #de0003;
    font-weight: bold;
}

.adress {
    display: none;
}

.green {
    color: #00850a;
}

.red {
    color: #de0003 !important;
}

.check-block .fa-check {
    display:none;
}








